.about{
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.3);
    
    background-color: #eeeeee;
    
    padding: 1rem;
}

.about__title{
    text-align: center;
    font-size: 1.3rem;
}

@media (min-width: 44rem){
    .about{
        margin: .5rem;
    }
}