.card-cats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    
    padding: 1rem;
    margin: 0.5em;
    
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.3);
    
    background-color: #eeeeee;
}

@media (min-width: 44rem) {
    .cats{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }

    .card-cats{
        grid-column: span 2;
    }
}