* {
    box-sizing: border-box;  
}

html, body{
    font-family: sans-serif;

    height: 100%;
}

#root{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto 1fr;
}

header{
    grid-area: header;

    display: grid;

    grid-template-areas: 
    "header__logo header__title"
    "header__menu header__menu";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;

    width: 100%;

    margin: 0;
    padding: 0;

    background-color: lightskyblue;
}

.header__title{
    grid-area: header__title;

    padding: 1rem;

    align-self: center;
    justify-self: center;
}

.header__logo{
    grid-area: header__logo;

    border-right: 1px solid black;
}

.header__menu{
    grid-area: header__menu;

    background-color: beige;
}

.header__menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.header__menu__item{
    padding: 1rem;
}

.header__menu__item:hover{
    display: block;
    background-color: lightslategray;
}

.header__menu__item a:hover{
    color: white;
}

main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.main__title{
    grid-column: span 12;

    justify-self: center;
    align-self: center;
}

.card{
    grid-column: span 4;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1rem;
    margin: 0.4em;

    box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
}

.card__pic{
    width: 40%;
}

.card__cta{
    align-self: self-start;

    padding: 1rem;
    border-radius: 1rem;

    background-color: lightskyblue;
    color: black;

    text-decoration: none;
}

.card__cta:hover{
    background-color: lightgrey;
    color:aliceblue;
    box-shadow: 0 2rem 1rem 0 rgba(200, 200, 200, 0.3);
}

footer{
    width: 100%;
    margin: 0;

    background-color: beige;
}

.footer__menu__list{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
    list-style-type: none;
}

.footer__menu__item{
    grid-column: span 4;
    justify-self: center;
}

@media (max-width: 50rem) {
    .header__menu__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__menu__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}