* {
    box-sizing: border-box;  
}

html, body{
    font-family: sans-serif;

    height: 100%;
    width: 100%;

    margin: 0;
}

#root{
    display:grid;

    grid-template-areas: 
    "header"
    "global__menu"
    "main"
    "footer";

    grid-template-rows: auto auto 1fr auto;

    font-size: 1rem;
}

header{
    grid-area: header;

    display: flex;
    flex-direction: row;
    
    padding: 0;

    background-color: lightskyblue;
}

.header__logo{
    border-right: 1px solid black;

    max-width: 25rem;
    max-height: 25rem;

    height: auto;
}

.header__title{
    align-self: center;

    margin: 1rem;
}

.menu{
    grid-area: global__menu;

    display: flex;
    flex-direction: column;
   
    background-color: beige;
}

.menu__title{
    border-bottom: 1px solid black;

    padding: 0.1rem 1rem;

    text-align: center;
}

.menu__dropdown{
    align-self: center;
}

.dropdown__btn{
    background-color: inherit;

    font-size: 1.2rem;

    margin: 0;
    
    min-width: 5rem;
}

.dropdown__content{
    background-color: lightskyblue;

    display: none;

    position: absolute;

    margin: 0;
    padding: 0;

    min-width: 10rem;

    box-shadow: 0 1rem 2rem 0 rgba(240, 240, 240, 0.2);

    list-style: none;
}

.dropdown__item{
    padding: 0.5rem 0.5rem;

    text-align: left;
}

.dropdown__item a{
    color: black;

    text-decoration: none;
}

.dropdown__btn:focus,.dropdown__item:hover, .dropdown__item a:focus{
    background-color: lightgray;
}

.dropdown__content.active{
    display: block;
}

footer{
    grid-area: footer;

    font-size: 1rem;
    text-align: center;
    
    padding: 0.2em;

    background-color: beige;
}

@media(min-width: 50rem){
    header{
        display: grid;
        grid-template-columns: repeat(9,1fr);
    }

    .header__logo{
        grid-column: span 2;
    }

    .header__title{
        grid-column: span 7;
        justify-self: center;
    }

    .menu{
        display: grid;
        grid-template-columns: repeat(8,1fr);
    }
    
    .menu__title{
        grid-column: span 2;
        justify-self: center;
        border-bottom: 0;
    }

    .menu__dropdown{
        grid-column: span 6;

        align-self: center;
    }
}