.filter__container{
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    background-color: #eeeeee;
    padding: 0 0.5rem;
    margin: 0.5em;
}

.filter__lbl{
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
}

.filter__select{
    display: block;
    height: 1rem;
    margin: 0 0.5rem;
}

@media(min-width: 44rem){
    .filter__container{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    
        border-radius: 0.5rem;
    }

    .filter__lbl{
        grid-column: span 3;
    }

    .filter__select{
        display: inline-block;
    }
}