.meet__dialog{
    padding: 0.25rem;
    margin: 0.25rem;

    border: 1px solid black;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.3);
    background-color: #eeeeee;

    top: 25%;
    left: 25%;

    min-width: 40%;
}

.meet__dialog::backdrop{
    background-color: rgb(0 0 0 / 0.8 );
}

.meet__title{
    text-align: center;
}

.dialog__close{
    border: none;
    position: absolute;
    top: 10%;
    left: 90%;
}

.dialog__close:focus{
    color: red;
}