.service{
    padding: 0.5rem;
    margin: 0.5rem;

    border: 1px solid black;
    background-color: #eeeeee;
}

.service-btn{
    background-color: papayawhip;
}

.service-btn:hover{
    background-color: burlywood;
}

@media(min-width: 44rem){
    .service{
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    }
}